**DATA CLEANING AND TIDYING CODE**

In [2]:
import pandas as pd
import numpy as np

# 1. LOADING DATA
df = pd.read_csv('bank_marketing.csv', skipinitialspace=True)

# 2. COLUMN RENAMING & INDEXING
# First, standardize column names (lowercase and underscores)
df.columns = df.columns.str.strip().str.lower().str.replace(r'[()\s%]+', '_', regex=True).str.strip('_')

# Manual mapping for specific columns
rename_map = {
    'year': 'Year', 'age': 'Age', 'month': 'Month', 'job_title': 'Job_Title',
    'region': 'Region', 'educatoin': 'Education', 'maritalstatus': 'Marital_Status',
    'avg monthly income_eur': 'Avg_Monthly_Income_Eur', 'balanceeur': 'Balance_Eur',
    'inflation': 'Inflation_Pct', 'subscribed_termdeposit': 'Subscribed', 'callduration_sec': 'Call_Duration_Sec',
    'contacts_thiscampaign': 'Contacts_This_Campaign', 'creditscore': 'Credit_Score',
    'contacttype': 'Contact_Type', 'customer_id': 'Customer_ID'
}

for col in df.columns:
    if 'interest' in col:
        rename_map[col] = 'Interest_Rate_Pct'

df.rename(columns=rename_map, inplace=True)

if 'Customer_ID' in df.columns:
    df = df.set_index('Customer_ID')

# 3. INITIAL CLEANING & TEXT STANDARDIZATION (CLEANING PART)
# Clean percentage signs and convert to numeric for economic indicators
for col in ['Inflation_Pct', 'Interest_Rate_Pct']:
    if col in df.columns and df[col].dtype == 'object':
        df[col] = df[col].str.replace('%', '').astype(float)

# Global Text Cleaning (Symbols !, #, * and fixing typos)
spelling_fixes = {
    'Centraal': 'Central',
    'Secndary': 'Secondary',
    'Nan': np.nan, 'Na': np.nan, 'None': np.nan
}

cat_cols = df.select_dtypes(include=['object']).columns
for col in cat_cols:
    df[col] = df[col].astype(str).str.replace(r'[!#*]', '', regex=True)
    df[col] = df[col].str.strip().str.title()
    df[col] = df[col].replace(spelling_fixes)

df.drop_duplicates(inplace=True)
df.dropna(subset=['Subscribed'], inplace=True)
df['Subscribed'] = df['Subscribed'].astype(int)

# 4. HANDLING MISSING VALUES (FILLING PART)
for col in cat_cols:
    if df[col].isnull().sum() > 0:
        if not df[col].mode().empty:
            df[col] = df[col].fillna(df[col].mode()[0])

num_cols = df.select_dtypes(include=['number']).columns
for col in num_cols:
    if col != 'Subscribed':
        df[col] = df[col].fillna(df[col].mean())

# 5. DATE COLUMN CREATION
month_map = {
    'Jan': '01', 'Feb': '02', 'Mar': '03', 'Apr': '04', 'May': '05', 'Jun': '06',
    'Jul': '07', 'Aug': '08', 'Sep': '09', 'Oct': '10', 'Nov': '11', 'Dec': '12'
}
df['month_num'] = df['Month'].str[:3].str.title().map(month_map)
df['Year'] = df['Year'].astype(int)

df['Date'] = pd.to_datetime(df['Year'].astype(str) + '-' + df['month_num'] + '-01', errors='coerce')
if df['Date'].isnull().any():
    df['Date'] = df['Date'].fillna(df['Date'].mode()[0])

# 6. OUTLIER TREATMENT
outlier_cols = [c for c in num_cols if c not in ['Subscribed', 'Year']]
for col in outlier_cols:
    if col in df.columns:
        Q1, Q3 = df[col].quantile(0.25), df[col].quantile(0.75)
        IQR = Q3 - Q1
        lower, upper = Q1 - 1.5 * IQR, Q3 + 1.5 * IQR
        df.loc[(df[col] < lower) | (df[col] > upper), col] = df[col].mean()

# 7. FINAL FORMATTING
# Convert all numerical columns to float (Age, Credit_Score, etc.)
num_cols = df.select_dtypes(include=['number']).columns
df[num_cols] = df[num_cols].astype(float)

# Round everything to 2 decimal places for a clean look
df[num_cols] = df[num_cols].round(2)

# Convert all categorical columns to object
cat_cols = df.select_dtypes(include=['object', 'string']).columns
for col in cat_cols:
    df[col] = df[col].astype('object')

# 8. DROP UNNECESSARY COLUMNS & EXPORT
cols_to_drop = ['month_num', 'Year', 'Month']
df.drop(columns=[c for c in cols_to_drop if c in df.columns], inplace=True)

df.to_csv('cleaned_marketing_data.csv', index=True)

print(" FINAL DATA INFO ")
print(df.info())
print("\n FIRST 5 ROWS ")
print(df.head())
print(df.describe())

 FINAL DATA INFO
<class 'pandas.core.frame.DataFrame'>
Index: 1682 entries, C2100001 to C2001700
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Age                     1682 non-null   float64
 1   Job_Title               1682 non-null   object
 2   Marital_Status          1682 non-null   object
 3   Education               1682 non-null   object
 4   Region                  1682 non-null   object
 5   Contact_Type            1682 non-null   object
 6   avg_monthly_income_eur  1682 non-null   float64
 7   Balance_Eur             1682 non-null   float64
 8   Credit_Score            1682 non-null   float64
 9   Interest_Rate_Pct       1682 non-null   float64
 10  Inflation_Pct           1682 non-null   float64
 11  Call_Duration_Sec       1682 non-null   float64
 12  Contacts_This_Campaign  1682 non-null   float64
 13  Subscribed              1682 non-null   float64
 14  Date                    1682 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(9), object(5)
memory usage: 274.8+ KB
None

 FIRST 5 ROWS
              Age      Job_Title Marital_Status  Education  \
Customer_ID
C2100001     74.0     Management        Married  Secondary
C2500002     45.0  Self-Employed         Single  Secondary
C1800003     47.0       Services        Married    Primary
C2100004     39.0         Admin.        Married   Tertiary
C2200005     48.0    Blue-Collar         Single   Tertiary

                            Region Contact_Type  avg_monthly_income_eur  \
Customer_ID
C2100001                   Marmara     Cellular                 2456.97
C2500002          Central Anatolia     Cellular                 1997.16
C1800003                    Aegean     Cellular                 2284.04
C2100004                    Aegean     Cellular                 2620.28
C2200005     Southeastern Anatolia     Cellular                 4005.19

             Balance_Eur  Credit_Score  Interest_Rate_Pct  Inflation_Pct  \
Customer_ID
C2100001         5223.19         651.0               0.90           1.53
C2500002         4230.22         623.0               2.27           1.92
C1800003         1669.39         631.0               1.81           1.96
C2100004         4088.50         598.0               1.35           0.90
C2200005         7151.65         627.0               2.75           3.25

             Call_Duration_Sec  Contacts_This_Campaign  Subscribed       Date
Customer_ID
C2100001                 144.0                    2.00         1.0 2021-03-01
C2500002                 323.0                    3.19         0.0 2025-01-01
C1800003                  82.0                    2.00         0.0 2018-09-01
C2100004                 260.0                    1.00         0.0 2021-10-01
C2200005                  29.0                    3.00         0.0 2022-01-01
               Age  avg_monthly_income_eur  Balance_Eur  Credit_Score  \
count  1682.000000             1682.000000  1682.000000   1682.000000
mean     42.301308             1949.304162  2984.266635    605.469334
min      18.000000              450.000000 -2085.120000    441.000000
25%      33.000000             1296.915000  1679.162500    565.000000
50%      42.000000             1834.680000  3003.475000    606.000000
75%      51.000000             2462.240000  4211.532500    645.000000
max      75.000000             4432.820000  8258.650000    765.000000
std      12.688475              842.100088  1892.712091     57.278654

       Interest_Rate_Pct  Inflation_Pct  Call_Duration_Sec  \
count        1682.000000    1682.000000        1682.000000
mean            1.987640       2.124495         191.765529
min             0.440000       0.160000          10.000000
25%             1.510000       1.580000         100.000000
50%             1.990000       2.030000         174.000000
75%             2.460000       2.620000         262.000000
max             3.620000       4.160000         536.000000
std             0.633717       0.770789         116.994289

       Contacts_This_Campaign   Subscribed                        Date
count             1682.000000  1682.000000                        1682
mean                 3.160262     0.240785  2021-06-18 00:25:41.022592
min                  1.000000     0.000000         2017-01-01 00:00:00
25%                  2.000000     0.000000         2019-05-01 00:00:00
50%                  3.000000     0.000000         2021-06-01 00:00:00
75%                  4.000000     0.000000         2023-09-23 12:00:00
max                  7.000000     1.000000         2025-12-01 00:00:00
std                  1.385028     0.427687                         NaN